<html>
    <body>
        <div id="siteTitle">
            <img id="logoImage" />
            <span id="brandName">Taj Realtors Pvt. Ltd.</span>
        </div>
        <div id="navbar">
            <ul id="navList">
                <li class="navListItem">
                    <a class="navLinks" href="./" title="Home">Home</a>
                </li>            
               <li class="navListItem">
                    <a class="navLinks" href="./buy" title="Buy">Buy</a>
                </li>            
               <li class="navListItem">
                    <a class="navLinks" href="./sell" title="Sell">Sell</a>
                </li>            
               <li class="navListItem">
                    <a class="navLinks" href="./nriHelpline" title="NRI Helpline">NRI Helpline</a>
                </li>            
               <li class="navListItem">
                    <a class="navLinks" href="./homeLoan" title="Home Loan">Home Loan</a>
                </li>            
                <li class="navListItem">
                    <a class="navLinks" href="./aboutUs" title="About Us">About Us</a>
                </li>            
                <li class="navListItem">
                    <a class="navLinks" href="./contactUs" title="Contact Us">Contact Us</a>
                </li>            
            </ul>
        </div>
        <div class="mainText"></div>
        <div id="footer">
            <hr>
            <span id="copyright">(C) Copyright 2014 Taj Realtors Pvt. Ltd.</span>
            <br/>
            <span id="developer">Developed By Abhineet Jain</span>
        </div>
    </body>
</html>